:root {
  --default_bttn_color: #aeaeae;
  --default_bttn_highligthed: #aeaeae;
  --default_txt_color: #3f3f3f;
  --default_soft_color: rgba(174, 174, 174, 0.3);

  --primary_bttn_color: #2962ff;
  --primary_bttn_highligthed: #0039cb;
  --primary_txt_color: #fff;
  --primary_soft_color: rgba(0, 57, 203, 0.3);

  --secondary_bttn_color: #455a64;
  --secondary_bttn_highligthed: #1c313a;
  --secondary_txt_color: #d9d9d9;
  --secondary_soft_color: rgba(28, 49, 58, 0.3);

  --danger_bttn_color: #d32f2f;
  --danger_bttn_highligthed: #9a0007;
  --danger_txt_color: #f2f2f2;
  --danger_soft_color: rgba(154, 0, 7, 0.3);

  --disabled_bttn_color: #e0e0e0;
  --disabled_txt_color: #9e9e9e;
}

.button_container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0.5rem;
  align-items: center;
}

.button_description {
  font-size: 12px;
  align-items: flex-start;
}

.disabled_bttn {
  color: var(--disabled_txt_color);
  pointer-events: none;
}

.standard_bttn {
  border: none;
  font-weight: 500;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.standard_bttn:hover,
.standard_bttn:focus {
  font-weight: bold;
}

.default_bttn:disabled {
  background-color: var(--disabled_bttn_color);
  color: var(--disabled_txt_color);
  pointer-events: none;
  box-shadow: none;
}

.default_outline {
  background-color: transparent;
  border: 2px solid var(--default_txt_color);
  color: var(--default_txt_color);
}

.default_outline:hover,
.default_outline:focus {
  background-color: var(--default_soft_color);
}

.primary_outline {
  background-color: transparent;
  border: 2px solid var(--primary_bttn_highligthed);
  color: var(--primary_bttn_highligthed);
}

.primary_outline:hover,
.primary_outline:focus {
  background-color: var(--primary_soft_color);
}

.secondary_outline {
  background-color: transparent;
  border: 2px solid var(--secondary_bttn_highligthed);
  color: var(--secondary_bttn_highligthed);
}

.secondary_outline:hover,
.secondary_outline:focus {
  background-color: var(--secondary_soft_color);
}

.danger_outline {
  background-color: transparent;
  border: 2px solid var(--danger_bttn_highligthed);
  color: var(--danger_bttn_highligthed);
}

.danger_outline:hover,
.danger_outline:focus {
  background-color: var(--danger_soft_color);
}

.default_color {
  background-color: var(--default_bttn_color);
  color: var(--default_txt_color);
}

.primary_color {
  background-color: var(--primary_bttn_color);
  color: var(--primary_txt_color);
}

.secondary_color {
  background-color: var(--secondary_bttn_color);
  color: var(--secondary_txt_color);
}

.danger_color {
  background-color: var(--danger_bttn_color);
  color: var(--danger_txt_color);
}

.default_color:hover,
.default_color:focus {
  background-color: var(--default_bttn_highligthed);
}

.primary_color:hover,
.primary_color:focus {
  background-color: var(--primary_bttn_highligthed);
}

.secondary_color:hover,
.secondary_color:focus {
  background-color: var(--secondary_bttn_highligthed);
}

.danger_color:hover,
.danger_color:focus {
  background-color: var(--danger_bttn_highligthed);
}

.outline_bttn:hover,
.outline_bttn:focus {
  background-color: rgba(41, 98, 255, 0.5);
  font-weight: 600;
}

.only_text_bttn {
  background-color: transparent;
  box-shadow: none;
  border: none;
  color: var(--primary_bttn_color);
}

.only_text_bttn:hover,
.only_text_bttn:focus {
  background-color: var(--primary_soft_color);
}

.text_bttn:disabled {
  background-color: transparent;
}

.text_bttn:hover,
.text_bttn:focus {
  background-color: rgba(41, 98, 255, 0.3);
  font-weight: 600;
}

.shadow_disabled {
  box-shadow: none;
}

.lg_size {
  width: 220px;
  height: 120px;

  padding: 1rem;
  font-size: 40px;
  border-radius: 20px;
}

.md_size {
  width: 140px;
  height: 60px;

  padding: 1rem;
  font-size: 20px;
  border-radius: 10px;
}

.sm_size {
  width: 100px;
  height: 35px;

  padding: 0.5rem;
  font-size: 18px;
  border-radius: 8px;
}
